@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

::selection {
  background-color: #4caf4c;
  color: #fff;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
}

.rookies {
  width: 60px;
  height: auto;
  margin-right: 10px; /* ngasih jarak antara logo dan teks */
  border-radius: 50px;
}

.logo {
  font-size: 25px;
  color: #012635;
  text-decoration: none;
  font-weight: 600;
}

.logo:hover {
  color: #012635;
  text-decoration: underline;
}

.navbar.navbar-light {
  background-color: #ffffff !important;
}

.navbar a {
  font-size: 18px;
  color: #012635;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  position: relative;
  transition: color 0.3s ease;
  animation: navbarFadeIn 1.5s ease-in-out;
}

/* animasi underline navbar */
.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: green;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.navbar a:hover::after {
  width: 100%;
}

.navbar a:hover {
  color: green;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10%;
  background-color: #00bd82;
  margin-top: 80px;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 3em;
  color: #333;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2em;
  font-weight: 400;
  color: #555;
}

.hero-image {
  width: 30%;
}

.hero-image img {
  width: 100%;
  border-radius: 10px;
}

.nav-btn {
  margin-top: 40px;
}

.register-hero {
  background-color: transparent;
  color: #fff;
  padding: 9px 20px;
  border: 2px solid #444;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 50px;
  transition: 0.3s;
  margin: 0 10px;
}

.login-hero {
  background-color: #444;
  color: white;
  padding: 10px 20px;
  border: none; /* No border */
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 50px;
  transition: background-color 0.3s ease;
}

.login-hero:hover,
.register-hero:hover {
  color: #ffffff;
  text-decoration: none;
}

.about {
  display: flex;
  padding: 0px 10%;
  background-color: #00bd82;
  color: #333;
}

.about p {
  color: #555;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.aboutus {
  text-align: center;
}

.aboutus h2 {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 2.3em;
  position: relative;
  display: inline-block;
}

.aboutus h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #444;
  bottom: -5px;
  left: 0%;
  opacity: 0.7;
}

.aboutus p {
  text-align: justify;
  line-height: 30px;
  margin-top: 30px;
}

.about figure img {
  width: 100%;
  height: 100%;
}

.video-section{
  padding: 150px 10% 100px; 
  background-color: #00bd82;
}

.video-underline {
  border: none; /* Menghilangkan border default */
  height: 2px; /* Tinggi garis */
  background-color: #333; /* Warna garis */
  margin: 20px auto; /* Margin atas dan bawah untuk jarak */
  width: 50%; /* Lebar garis */
}

.video-container {
  max-width: 800px; /* Maksimal lebar kontainer video */
  margin: 0 auto; /* Pusatkan kontainer di halaman */
  display: flex;
  justify-content: center;
}

.embed-responsive {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%; /* Rasio 16:9 */
  height: 0;
  max-width: 100%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.course-overview,
.course-benefits {
  padding: 60px 10%;
  background-color: #00bd82; /* Warna latar belakang yang lebih terang untuk membedakan dari bagian lainnya */
  color: #333;
}

.title-underline {
  border: none; /* Menghilangkan border default */
  height: 2px; /* Tinggi garis */
  background-color: #333; /* Warna garis */
  margin: 20px auto; /* Margin atas dan bawah untuk jarak */
  width: 50%; /* Lebar garis */
}

.course-overview h3,
.course-benefits h3 {
  font-size: 2.5em;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.course-overview h3::after,
.course-benefits h3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #00bd82; /* Warna garis bawah yang konsisten */
  bottom: -8px;
  left: 0;
  z-index: -1;
  opacity: 0.7;
}

.course-overview p,
.course-benefits ul {
  font-size: 1.1em;
  color: #555;
  margin-top: 20px;
  line-height: 1.6; /* Jarak antar baris yang lebih baik untuk keterbacaan */
  text-align: justify;
}

footer {
  display: flex;
  background-color: #111;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.socialIcons a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: black; */
}

.socialIcons a i {
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.social-title {
  font-size: 14px;
  color: white;
  margin-top: 5px;
}

.footerBottom {
  background-color: #5c5c5c;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 40px;
}

.footerBottom p {
  color: white;
}

.login-hero:hover {
  background-color: #666;
}

.register-hero:hover {
  box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

/*course content */
.product-course {
  padding: 50px 10%;
  background-color: #00bd82;
  color: #333;
  text-align: center;
}

.product-course h2 {
  font-size: 2.3em;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.product-course h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #444;
  bottom: -5px;
  left: 0%;
  opacity: 0.7;
}

.product-title {
  font-size: 1em;
  margin: 20px 0;
}

.product-head {
  font-size: 2em;
  /* background-color: red; */
  margin: 10px;
  position: relative;
  padding: 20px;
  top: 35px;
}

#product {
  display: flex;
  flex-wrap: wrap; /* Flex item bisa melanjutkan ke baris berikutnya */
  justify-content: space-between; /* Memisahkan card secara merata */
}

.product-box {
  flex: 1 1 calc(25% - 40px); /* Setiap card akan mengambil 25% dari lebar kontainer, minus margin */
  max-width: 300px;
  padding: 10px;
  background-color: #fff;
  margin: 10px;
  text-align: center;
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.5);
  border-radius: 8px; /* Membuat sudut card sedikit melengkung */
  transition: transform 0.3s;
  padding-top: 80px;
  margin-top: 80px;
}

.product-box:hover {
  transform: translateY(-10px); /* Efek hover, card akan terangkat */
}

.product-price {
  font-size: 2.3em;
  font-weight: 700;
  margin: 10px 0;
}
.path {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #00bd82;
}
.path a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2em;
}
.path a:hover {
  color: #fff;
  text-decoration: underline;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.section {
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.about h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}
.about-content {
  margin-top: 40px;
}
.about-content h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 15px;
}
.about-content p {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 25px;
}
.features-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  /* background-color: red; */
}
.feature-box {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 60px;
  transition: transform 0.3s;
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.5);
}
.feature-box:nth-child(1) {
  order: 2;
}
.feature-box:nth-child(2) {
  order: 1;
}
.feature-box:nth-child(3) {
  order: 3;
}
.feature-box:hover {
  transform: translateY(-10px);
}
.feature-box i {
  font-size: 2.5em;
  margin-bottom: 15px;
  color: #00bd82;
}
.feature-box h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.feature-box p {
  font-size: 1.1em;
}
.about-testimonials {
  padding: 0px 10%;
  background-color: #00bd82;
  color: #333;
  text-align: center;
}
.about-testimonials h2 {
  font-size: 2.3em;
  margin-bottom: 60px;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.about-testimonials h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #444;
  bottom: -8px;
  left: 0;
  z-index: -1;
  opacity: 0.7;
}
.testimonials-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.testimonial {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.5);
}
.testimonial:before {
  content: "“";
  font-size: 4em;
  color: #00bd82;
  position: absolute;
  top: -20px;
  left: 10px;
}
.testimonial p {
  font-size: 1.1em;
  margin-bottom: 15px;
}
.testimonial h3 {
  font-size: 1.2em;
  color: #555;
}
/* Responsive > 768px */
@media (min-width: 768px) {
  .about-testimonials {
    padding: 60px 10%;
  }

  .feature-box {
    width: 25%;
    height: 100%;
    margin: 0px 10px;
  }

  .testimonial {
    width: 25%;
    margin: 0 20px;
  }
}

/* responsive < 768px */
@media (max-width: 768px) {
  .logo {
    font-size: 18px;
  }

  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 30px 10%;
    /* margin-top: 140px; */
  }

  .features-container,
  .testimonials-container {
    flex-direction: column; /* Stack vertically on small screens */
    align-items: center;
    width: 100%;
  }

  .feature-box,
  .testimonial {
    width: 100%;
    margin-bottom: 60px;
  }

  .about-information {
    margin-top: 30px;
  }

  .aboutus h2 {
    margin-top: 40px;
  }

  .hero-text {
    width: 100%;
    margin-bottom: 60px;
    margin-top: 30px;
  }

  .hero-image {
    width: 60%;
  }

  .hero-text h1 {
    font-size: 2em;
  }

  .hero-text p {
    font-size: 1em;
  }

  .nav-btn {
    margin-left: 20px;
    margin-bottom: 40px;
  }

  .about {
    flex-direction: column;
    padding: 0px 10%;
  }

  .about figure img {
    width: 100%;
    height: 80%;
  }

  .aboutus {
    position: relative;
    top: 0px;
  }

  #product {
    margin-top: -30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-box {
    margin-top: 50px;
    width: 100%;
  }

  .product-img {
    width: 150px;
  }

  .team {
    flex-direction: column;
    margin-top: -10px;
  }

  .team-member {
    margin-bottom: 35px;
    width: 100%;
  }

  .section {
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 5% cover 25%;
  }
}